*/Dataset
*/**/inputs
*/inputs
*/**/outputs
*/outputs
*/**/models
*/models
!/models
*/**/.idea
*/.idea
*/**/.git
*/.git
*/**/__pycache__
*/__pycache__
*rgbe
*xml
*/**/build*
*/**/*.npy
docs/*
*/docs
*/**/CMakeLists.txt.user
*/**/CMakeCache.txt
*/**/CMakeFiles
*/**/CMakeScripts
*/**/Testing
*/**/Makefile
*/**/cmake_install.cmake
*/**/install_manifest.txt
*/**/compile_commands.json
*/**/CTestTestfile.cmake
*/**/_deps