*/Dataset
*/**/inputs
*/inputs
*/**/outputs
*/outputs
*/**/models
*/models
*/**/.idea
*/.idea
*/**/.git
*/.git
*/**/__pycache__
*/__pycache__
*.rgbe
*.xml
*/**/build*
*/**/*.npy
docs/*
*/docs
!/models